@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arvuti Tellimise koduleht</h1>
    <p>Arvuti tellimiseks lisada tellimus.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/ArvutiTellimus/Lisa"> Arvuti tellimuse Lisamiseks Kliki siia</a>
    </div>
    <div class="col-md-4">
        <a href="~/ArvutiTellimus/Statistikaleht"> Arvuti tellimuste Statistika Leiad siit</a>
    </div>
</div>